/* body {
    background-color: rgb(255, 255, 255);
} */

.my_p1 {
    color: rgb(66, 3, 102);
    font-family:monospace;
}

.my_p2 {
    color: rgb(2, 73, 73);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*
    ._my-div{ }   // valid
    
    .-my-div{ }   // Not valid
    
    .12my-div{ }  // Not valid
    
    .% my-div{ }  // Not valid 
    
    .@my-div{ }   // Not valid 
    
    .my @div{ }   // Not valid 
  
    ._my78div{ }  // valid
   
    -div{ }       // valid
 */